import init.supersonic.usb.rc

on init

    export EXTERNAL_STORAGE /mnt/sdcard
    mkdir /mnt/sdcard 0000 system system
    # for backwards compatibility
    symlink /mnt/sdcard /sdcard

    mount rootfs rootfs / remount
    mkdir /app-cache 01777 system system
    mount tmpfs tmpfs /app-cache size=8m
    mkdir /data/app-cache 0771 system system
    mount rootfs rootfs / ro remount

on boot
    mount debugfs /sys/kernel/debug /sys/kernel/debug

    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp
    mkdir /data/misc/hotspot 0770 system hotspot
    mkdir /data/misc/wimax 0777 wimax wimax
    mkdir /data/misc/wimax/sockets 0777  wimax wimax
    mkdir /data/wimax/ 0777  wimax wimax
    mkdir /data/wimax/log 0777  wimax wimax

    # bluetooth power up/down interface
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chown system system /sys/module/serial/parameters/modem_enabled
    chown bluetooth bluetooth /dev/ttyHS0
    chmod 0770 /dev/ttyHS0
    chown system system /dev/smd9
    chown radio radio /sys/module/msm_flashlight/parameters/phone_status

    # bluetooth MAC address programming
    chown bluetooth bluetooth /sys/module/board_supersonic/parameters/bdaddr
    setprop ro.bt.bdaddr_path /sys/module/board_supersonic/parameters/bdaddr

    # LEDs
    chown system system /sys/class/leds/lcd-backlight/brightness
    chown system system /sys/class/leds/button-backlight/brightness
    chown system system /sys/class/leds/green/brightness
    chown system system /sys/class/leds/green/blink
    chown system system /sys/class/leds/amber/brightness
    chown system system /sys/class/leds/amber/blink
    chown system system /sys/class/leds/wimax/brightness

    # flashlight
    chown system camera /sys/devices/platform/flashlight.0/leds/flashlight/brightness
    chmod 0660          /sys/devices/platform/flashlight.0/leds/flashlight/brightness

    # Add permissions for camera access
    chmod 0666 /dev/msm_camera/config1
    chmod 0666 /dev/msm_camera/control1
    chmod 0666 /dev/msm_camera/frame1

    chmod 0666 /dev/graphics/fb0

    # Camera status
    chown radio system /sys/camera_led_status/led_ril_status
    chown system system /sys/camera_led_status/led_wimax_status
    chown system system /sys/camera_led_status/led_hotspot_status
    chown media system /sys/android_camera/cam_mode

    # For FM radio/music by Welly_Fang's request
    mkdir /data/data/shared
    chmod 0777 /data/data/shared

    # Overwrite framework low memory killer minfree setting
    write /sys/module/lowmemorykiller/parameters/minfree 3584,4096,6144,7168,7680,8192

    # Enable low memory killer to check file pages
    write /sys/module/lowmemorykiller/parameters/minfile 0,0,0,5120,5632,6144
    write /sys/module/lowmemorykiller/parameters/check_filepages 1

    # performance tweaks for flash
    write /sys/block/mtdblock4/bdi/read_ahead_kb 8
    write /sys/block/mtdblock5/bdi/read_ahead_kb 8
    write /sys/block/mtdblock6/bdi/read_ahead_kb 8
    write /sys/block/mtdblock0/bdi/read_ahead_kb 8
    write /sys/block/mtdblock1/bdi/read_ahead_kb 8
    write /sys/block/mtdblock2/bdi/read_ahead_kb 8
    write /sys/block/mtdblock3/bdi/read_ahead_kb 8
    write /sys/devices/virtual/bdi/7:0/read_ahead_kb 128
    write /sys/devices/virtual/bdi/7:1/read_ahead_kb 128
    write /sys/devices/virtual/bdi/7:2/read_ahead_kb 128
    write /sys/devices/virtual/bdi/7:3/read_ahead_kb 128
    write /sys/devices/virtual/bdi/7:4/read_ahead_kb 128
    write /sys/devices/virtual/bdi/7:5/read_ahead_kb 128
    write /sys/devices/virtual/bdi/7:6/read_ahead_kb 128
    write /sys/devices/virtual/bdi/7:7/read_ahead_kb 128
    write /sys/devices/virtual/bdi/default/read_ahead_kb 4096
    write /sys/devices/virtual/bdi/179:0/max_ratio 97
    write /sys/devices/virtual/bdi/default/max_ratio 97
    write /sys/devices/virtual/bdi/179:0/read_ahead_kb 4096

    # Smooth Settings
    write /sys/devices/system/cpu/cpu0/cpufreq/smooth_target 1
    write /sys/devices/system/cpu/cpu0/cpufreq/smooth_offset 2
    write /sys/devices/system/cpu/cpu0/cpufreq/smooth_step 2

    # TCP buffer size tweaks to improve throughput
    write /proc/sys/net/core/wmem_max=1048576
    write /proc/sys/net/core/rmem_default=262144
    write /proc/sys/net/core/wmem_default=262144
    write /proc/sys/net/core/optmem_max=20480
    write /proc/sys/net/unix/max_dgram_qlen=50
    write /proc/sys/net/ipv4/tcp_moderate_rcvbuf=1
    write /proc/sys/net/ipv4/udp_rmem_min=6144
    write /proc/sys/net/ipv4/udp_wmem_min=6144
    write /proc/sys/net/ipv4/tcp_rfc1337=1
    write /proc/sys/net/ipv4/ip_no_pmtu_disc=0
    write /proc/sys/net/ipv4/tcp_ecn=0
    write /proc/sys/net/ipv4/route/flush=1
    write /proc/sys/net/ipv4/tcp_rmem=6144 87380 524288
    write /proc/sys/net/ipv4/tcp_wmem=6144 87380 524288
    write /proc/sys/net/ipv4/tcp_mem=187000 187000 187000
    write /proc/sys/net/ipv4/tcp_timestamps=1
    write /proc/sys/net/ipv4/tcp_sack=1
    write /proc/sys/net/ipv4/tcp_fack=1
    write /proc/sys/net/ipv4/tcp_window_scaling=1
    write /proc/sys/net/ipv4/tcp_tw_recycle=1
    write /proc/sys/net/ipv4/tcp_tw_reuse=1
    write /proc/sys/net/ipv4/tcp_congestion_control=cubic
    write /proc/sys/net/ipv4/tcp_syncookies=1
    write /proc/sys/net/ipv4/conf/all/rp_filter=1
    write /proc/sys/net/ipv4/conf/default/rp_filter=1
    write /proc/sys/net/ipv4/tcp_synack_retries=2
    write /proc/sys/net/ipv4/tcp_syn_retries=2
    write /proc/sys/net/ipv4/tcp_max_syn_backlog=1024
    write /proc/sys/net/ipv4/tcp_max_tw_buckets=16384
    write /proc/sys/net/ipv4/icmp_echo_ignore_all=1
    write /proc/sys/net/ipv4/icmp_ignore_bogus_error_responses=1
    write /proc/sys/net/ipv4/tcp_no_metrics_save=1
    write /proc/sys/net/ipv4/tcp_fin_timeout=15
    write /proc/sys/net/ipv4/tcp_keepalive_intvl=30
    write /proc/sys/net/ipv4/tcp_keepalive_probes=5
    write /proc/sys/net/ipv4/tcp_keepalive_time=1800
    write /proc/sys/net/ipv4/ip_forward=0
    write /proc/sys/net/ipv4/conf/default/accept_source_route=0
    write /proc/sys/net/ipv4/conf/all/accept_source_route=0
    write /proc/sys/net/ipv4/conf/all/accept_redirects=0
    write /proc/sys/net/ipv4/conf/default/accept_redirects=0
    write /proc/sys/net/ipv4/conf/all/secure_redirects=0
    write /proc/sys/net/ipv4/conf/default/secure_redirects=0

    # Force loading of modem and Q6 images
    service load-modem /system/bin/load-modem.sh
    oneshot

service wpa_supplicant /system/bin/logwrapper /system/bin/wpa_supplicant \
    -Dwext -iwlan0 -c/data/misc/wifi/wpa_supplicant.conf
#   we will start as root and wpa_supplicant will switch to user wifi
#   after setting up the capabilities required for WEXT
#   user wifi
#   group wifi inet keystore
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot


service dhcpcd_wlan0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service dhcpWimax /system/bin/dhcpcd -ABKL -f /etc/wimax/dhcp/wimaxDhcp.conf wimax0
    class main
    disabled
    oneshot



# compass/accelerometer daemon
service akmd /system/bin/akmd
    class main
    user compass
    group compass misc input
service hciattach /system/bin/brcm_patchram_plus --enable_hci --enable_lpm \
    --baudrate 3000000 --patchram /etc/firmware/bcm4329.hcd /dev/ttyHS0
    class main
    user bluetooth
    group bluetooth net_bt_admin
    disabled

service sequansd /system/bin/sequansd /etc/wimax/sequansd/sequansd_app.xml
    user root
    group root inet
    socket sequansd_0 dgram 660 root root
    disabled
    oneshot

service wimaxDhcpRelease /system/bin/wimaxDhcpRelease
    class main
    user root
    group root
    disabled
    oneshot

service wimaxDhcpRenew /system/bin/wimaxDhcpRenew
    class main
    user root
    group root
    disabled
    oneshot

service wimaxAddRoute /system/bin/wimaxAddRoute
    class main
    user root
    group root
    disabled
    oneshot

service wimaxDumpLogcat /system/bin/wimaxDumpLogcat /data/wimax/log
    user root
    group root
    disabled
    oneshot

service wimaxDumpKmsg /system/bin/wimaxDumpKmsg /data/wimax/log
    user root
    group root
    disabled
    oneshot

service wimaxDumpLastKmsg /system/bin/wimaxDumpLastKmsg /data/wimax/log
    user root
    group root
    disabled
    oneshot

service wmxCfgItf /system/bin/wimaxConfigInterface
    user root
    group root
    disabled
    oneshot

service wimaxDaemon /system/bin/wimaxDaemon
    user root
    group root

# wimax_mtd daemon
service wimax_mtd /system/bin/wimax_mtd
   user root
   group root
   oneshot

# setWMXPropd daemon
service setWMXPropd /system/bin/setWiMAXPropDaemond
    user root
    group root
    oneshot

# getWMXPropd daemon
service getWMXPropd /system/bin/getWiMAXPropDaemond
    user root
    group root
    oneshot

service dmagent /system/bin/dmagent -N -P19 -VSY
 	socket dmagent stream 660 root radio
    user root
    group radio cache inet misc

service modem /system/bin/wireless_modem
    user system
    group system radio
    disabled

on property:service.modem.enable=1
    start modem

on property:service.modem.enable=0
    stop modem

service qcom-post-boot /system/bin/sh /system/etc/init.qcom.post_boot.sh
    class late_start
    user root
    disabled
    oneshot

on property:dev.bootcomplete=1
    start qcom-post-boot
